@model ContosoUniversity.DAL.SalesModel.Item
@{
	ViewBag.Title = "Delete";
}

<ul class="breadcrumb">
	<li><a href="\">Tables</a> <span class="divider">/</span></li>
	<li>@Html.ActionLink("Items", "Index", "Items") <span class="divider">/</span></li>
	<li class="active">Delete</li>
</ul>
<div class="row">
	<div class="span4">
		<table class="table table-bordered table-striped table-condensed table-hover pull-left">
			<tr>
				<td>@Html.LabelFor(x => x.ArDescription)</td>
				<td>@Model.ArDescription</td>
			</tr>
			<tr>
				<td>@Html.LabelFor(x => x.EnDescription)</td>
				<td>@Model.EnDescription</td>
			</tr>
			<tr>
				<td>@Html.LabelFor(x => x.Category)</td>
				<td>@Model.Category</td>
			</tr>
			<tr>
				<td>@Html.LabelFor(x => x.RowVersion)</td>
				<td>@Model.RowVersion</td>
			</tr>
			<tr>
				<td>@Html.LabelFor(x => x.Price)</td>
				<td>@Model.Price</td>
			</tr>
		</table>
	</div>
</div>
<div class="row">
	<div class="span4">
@using (Html.BeginForm()) {
		<input type="submit" value="Delete" class="btn btn-danger" />
		@Html.ActionLink("Cancel", "Index", null, new { @class = "btn" })
}
	</div>
</div>
