@model ContosoUniversity.DAL.SalesModel.Book

@* This partial view defines form fields that will appear when creating and editing entities *@


<div class="control-group">
    @Html.LabelFor(model => model.Id, new { @class = "control-label" })
    <div class="controls">
        @Html.DisplayFor(model => model.Id)
    </div>
</div>
<div class="control-group">
    @Html.LabelFor(model => model.ArDescription, new { @class = "control-label" })
    <div class="controls">
        @Html.EditorFor(model => model.ArDescription)
        @Html.ValidationMessageFor(model => model.ArDescription)
    </div>
</div>
<div class="control-group">
    @Html.LabelFor(model => model.EnDescription, new { @class = "control-label" })
    <div class="controls">
        @Html.EditorFor(model => model.EnDescription)
        @Html.ValidationMessageFor(model => model.EnDescription)
    </div>
</div>
<div class="control-group">
    @Html.LabelFor(model => model.Category, new { @class = "control-label" })
    <div class="controls">
        @Html.EditorFor(model => model.Category)
        @Html.ValidationMessageFor(model => model.Category)
    </div>
</div>
<div class="control-group">
    @Html.LabelFor(model => model.Price, new { @class = "control-label" })
    <div class="controls">
        @Html.EditorFor(model => model.Price)
        @Html.ValidationMessageFor(model => model.Price)
    </div>
</div>
<div class="control-group">
    @Html.LabelFor(model => model.ISBN, new { @class = "control-label" })
    <div class="controls">
        @Html.EditorFor(model => model.ISBN)
        @Html.ValidationMessageFor(model => model.ISBN)
    </div>
</div>
<div class="control-group">
    @Html.LabelFor(model => model.Langauge, new { @class = "control-label" })
    <div class="controls">
        @Html.EditorFor(model => model.Langauge)
        @Html.ValidationMessageFor(model => model.Langauge)
    </div>
</div>
<div class="control-group">
    @Html.LabelFor(model => model.Publisher, new { @class = "control-label" })
    <div class="controls">
        @Html.DropDownListFor(model => model.PublisherId, (IEnumerable<SelectListItem>)ViewBag.Publisher)
        @Html.ValidationMessageFor(model => model.PublisherId)
    </div>
</div>
