@model ContosoUniversity.DAL.SalesModel.Book
@{
	ViewBag.Title = "Details";
}

<ul class="breadcrumb">
	<li><a href="\">Tables</a> <span class="divider">/</span></li>
	<li>@Html.ActionLink("Books", "Index", "Books") <span class="divider">/</span></li>
	<li class="active">Details</li>
</ul>
<div class="row">
	<div class="span4">
        <table class="table table-bordered table-striped table-condensed table-hover pull-left">
            <tr>
                <td>@Html.LabelFor(x => x.Id)</td>
                <td>@Model.Id</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.ArDescription)</td>
                <td>@Model.ArDescription</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.EnDescription)</td>
                <td>@Model.EnDescription</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.Category)</td>
                <td>@Model.Category</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.Price)</td>
                <td>@Model.ISBN</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.ISBN)</td>
                <td>@Model.ISBN</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.Publisher.Name)</td>
                <td>@Model.PublisherId</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.Langauge)</td>
                <td>@Model.Langauge</td>
            </tr>
        </table>
	</div>
</div>
<div class="row">
	<div class="span4">
		<div class="btn-group">
			<a href="@Url.Action("Edit", new {  id = Model.Id })" class="btn"><i class="icon-pencil"></i> Edit</a>
			<a href="@Url.Action("Delete", new { id = Model.Id })" class="btn"><i class="icon-trash"></i> Delete</a>
		</div>
		@Html.ActionLink("Back to List", "Index", null, new { @class = "pull-right" })
	</div>
</div>
