@model ContosoUniversity.DAL.SalesModel.Medicine
@{
	ViewBag.Title = "Delete";
}

<ul class="breadcrumb">
	<li><a href="\">Tables</a> <span class="divider">/</span></li>
	<li>@Html.ActionLink("Medicines", "Index", "Medicines") <span class="divider">/</span></li>
	<li class="active">Delete</li>
</ul>
<div class="row">
	<div class="span4">
		<table class="table table-bordered table-striped table-condensed table-hover pull-left">
			<tr>
				<td>@Html.LabelFor(x => x.ScentificName)</td>
				<td>@Model.ScentificName</td>
			</tr>
			<tr>
				<td>@Html.LabelFor(x => x.ExpireDate)</td>
				<td>@Model.ExpireDate</td>
			</tr>
			<tr>
				<td>@Html.LabelFor(x => x.MedicalGroup)</td>
				<td>@Model.MedicalGroup</td>
			</tr>
			<tr>
				<td>@Html.LabelFor(x => x.BatchNo)</td>
				<td>@Model.BatchNo</td>
			</tr>
		</table>
	</div>
</div>
<div class="row">
	<div class="span4">
@using (Html.BeginForm()) {
		<input type="submit" value="Delete" class="btn btn-danger" />
		@Html.ActionLink("Cancel", "Index", null, new { @class = "btn" })
}
	</div>
</div>
