@{
	ViewBag.Title = "Tables";
}

<ul class="breadcrumb">
	<li class="active">Tables</li>
</ul>

<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>Table Name</th>
		</tr>
	</thead>

	<tr>
		<td>@Html.ActionLink("Cars", "Index", "Cars")</td>
	</tr>
	<tr>
		<td>@Html.ActionLink("SUVs", "Index", "SUVs")</td>
	</tr>
	<tr>
		<td>@Html.ActionLink("Salons", "Index", "Salons")</td>
	</tr>
	<tr>
		<td>@Html.ActionLink("Stores", "Index", "Stores")</td>
	</tr>
	<tr>
		<td>@Html.ActionLink("Items", "Index", "Items")</td>
	</tr>
	<tr>
		<td>@Html.ActionLink("Medicines", "Index", "Medicines")</td>
	</tr>
	<tr>
		<td>@Html.ActionLink("Books", "Index", "Books")</td>
	</tr>
	<tr>
		<td>@Html.ActionLink("Publishers", "Index", "Publishers")</td>
	</tr>
	<tr>
		<td>@Html.ActionLink("Authors", "Index", "Authors")</td>
	</tr>
	<tr>
		<td>@Html.ActionLink("ItemStores", "Index", "ItemStores")</td>
	</tr>
</table>
